/*INICIO*/
.fondo{
	background-image: url(../img/inicio.jpg);
	background-size: 100% 100vh;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	text-align: center;
}
.subir-capa{
	position: relative;
	z-index: 2;
}
.logo{
	width: 150px;
	margin-top: 50px;
}
.sing-up{
	border: 0px;
	color: white;
	background: linear-gradient(to right, #3F1F62 , #FC1DBD );
	width: 100%;
}
.sing-up:active{
	color: white;
	background: linear-gradient(to right, #3F1F62 , #FC1DBD );
}
.log-in{
	background-color: transparent;
	color: white;
	width: 100%;
	border: 2px white solid;
}
.log-in-position{
	position: absolute;
	bottom: 20px;
	left: 10px;
}
.sing-up-position{
	position: absolute;
	bottom: 20px;
	right: 10px;
}
/*REGISTRO NÚMERO*/
.btn-volver{
	position: absolute;
	left: 0;
	top: 20px;
}
.titulo-registro{
	font-size: 18px;
	color: black !important;
	display: inline-block;
}
.navbar-registro{
	background-color: white;
	text-align: center;
	border-bottom: 1px gainsboro solid;
	width: 100%;
}
#cincuenta-y-uno{
	border-right: 0;
}
#input-celular{
	border-left: 0;
	padding: 0 0 0 10px;
}
.form-control:focus{
	outline: none !important;
	-webkit-box-shadow:none;
	box-shadow: none;
	border: 1px solid #CCCCCC;
	border-left: 0;
}
/*COMPROBACION CÓODIGO*/
.input-codigo{
	width: 10%;
	margin-right: 5px;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 2px gray solid;
	font-size: 18px;
	text-align: center;
	padding: 0;
}
.input-codigo:focus{
	outline: none;
}
.lab-codigo{
	font-size: 18px;
}

/*REGISTRO DATOS*/
.form-control{
	padding:3px 0 0 3px;
}
.btn-siguiente{
	border-radius: 0;
	background-color: deeppink;
	color: white;
	padding: 20px 16px;
	width: 100%;
	border: 0;
	position: absolute;
	bottom: 0;
	left: 0;
}
.input-datos{
	display: inline-block;
	border: 0;
	width: 45%;
	height: auto;
	padding-left: 3px;
}
.input-datos:focus{
	border: 0;
	outline: transparent;
}
.input-rdatos{
	margin-bottom: 20px;
}
.cuadrado-negro{
	width: 60%;
	padding: 15px;
	word-wrap: break-word;
	white-space: pre-line;
	background-color: black;
	position: absolute;
	top: 50%;
	left: 19%;
	text-align: center;
	color: white;
	opacity: 0.6;
}
.ocultar{
	display: none;
}

/*MAPS*/
#map{
	width: 100%;
	height: 100vh;
}
.logo-negro{
	opacity: 0.6;
	position: absolute;
	top: 20px;
	z-index: 1;
	width: 15%;
	height: auto;
	margin: 0 auto;
	left: 42%;
}
#direccion{
	height: auto;
	position: absolute;
	bottom: 35px;
	border-radius: 5px;
	word-wrap: break-word;
	white-space: pre-line;
	text-align: center;
	background-color: deeppink;
	color: white;
	text-align: center;
	padding: 10px;
	width: 70%;
	margin: 0 15%;
}
.direccion{
	position: absolute;
	bottom: 100px;
	padding: 0;
	width: 70%;
	margin: 0 15%;
}
#usuario{
	width: 15%;
	position: absolute;
	top: 20px;
	z-index: 1;
	border-radius: 50%;
	left: 10%;
	opacity: 0.6;
}
.estrella{
	position: absolute;
	top: 20px;
	z-index: 1;
	padding: 10px;
	font-size: 1.3em;
	opacity: 0.6;
	border: 0;
	background-color: black;
	color: white;
	border-radius: 50%;
	right: 5%;
}
.cuenta{
	width: 65%;
	height: 100vh;
	background-color: white;
	z-index: 2;
	position: absolute;
}
.background{
	width: 100%;
	height: auto;
	background-size: 100% auto;
}
.circle{
	display: inline-block !important;
}
#editar-perfil{
	display: inline-block;
	text-decoration: none;
	font-size: 12px;
	color: white;
}
.opciones-slide{
	box-sizing: border-box;
	padding: 5px 5%;
}
.link-slide{
	display: inline-block !important;
}
.link-slide:hover{
	text-decoration: none;
	color: crimson;
	background-color:white !important;
}
.icono-slide{
	margin-right: 15px;
	padding: 5% 0;
}
.icono-slide-editar{
	margin-right: 30px;
}
.usuario-editable{
	width: 30%;
}
.fondo-usuario-editable{
	background-color: deeppink;
	padding: 40px 0;
}
.row-editar{
	padding: 20px 35px;
	font-size: 18px;
}
#buscar{
	height: 44px;
	padding: 0 15px;
}
#join{
	background-color: grey;
	border-radius: 5px;
	color: white;
	font-size: 15px;
	width: 70%;
	margin: 10px auto;
	padding: 10px 0;
}
#usuario-editable{
	padding: 20px;
	font-size: 30px;
	margin: 0 auto;
}
